<!doctype html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport'
		  content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<title><%= htmlWebpackPlugin.options.title %></title>
	<style>
		body {
			margin: 20px !important;
		}

		code {
			padding: 20px !important;
			display: inline-block;
			white-space: pre;
		}

		.ej-component {
			display: block;
			/*margin: 20px;*/
		}
	</style>
</head>
<body>
<h1>EJ Components</h1>
<div>
	<code><%- `<Button text='Button' onClick={() => alert('on click 0')} />` %></code>
	<div id='Button' class="ej-component"></div>
	<code><%-
`<div className='btn-toolbar'>
  <Button text='Button' onClick={() => alert('on click 1')} />
  <Button text='Button' disabled onClick={() => alert('on click 2')} />
</div>`
%></code>
	<div id='ButtonToolbar' class="ej-component"></div>
	<code><%- `<Checkbox checked />` %></code>
	<code><%- `<Checkbox disbled />` %></code>
	<code><%- `<Checkbox label={'Checkbox'} />` %></code>
	<div id='Checkbox' class="ej-component"></div>

	<code><%- `<RadioButton checked />` %></code>
	<code><%- `<RadioButton disbled />` %></code>
	<code><%- `<RadioButton label={'RadioButton'} />` %></code>
	<div id='RadioButton' class="ej-component"></div>
</div>
</body>
</html>
