<!doctype html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport'
		  content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<title><%= htmlWebpackPlugin.options.title %></title>
	<style>
		body {
			margin: 20px !important;
		}

		code {
			padding: 20px !important;
			margin-bottom: 5px;
			display: inline-block;
			white-space: pre;
		}

		.ej-component {
			display: block;
			padding: 20px;
			border: 1px dashed grey;
			min-width: 360px;
		}

		textarea {
			width: 300px;
			height: 68px;
		}
	</style>
</head>
<body>
<h1>EJ Components</h1>
<div>
	<h1>Заголовок</h1>
	<hr>
	<code><%- `<Title bold>{\`Заголовок 1\`}</Title>` %></code><br>
	<code><%- `<Title text='Заголовок 2'/>` %></code><br>
	<code><%- `<Title small>{\`Заголовок 3\`}</Title>` %></code><br>
	<code><%- `<Title small grey>{\`Заголовок 4\`}</Title>` %></code><br>
	<code><%- `<Title small grey inline>{\`Заголовок 5\`}</Title>
<Title small grey inline>{\`Заголовок 6\`}</Title>` %></code><br>

	<div id="Title" class="ej-component"></div>
	<hr>


	<h1>Текст</h1>
	<hr>
	<code><%- `<Snippet>{\`Текст вариант 1\`}</Snippet>` %></code><br>
	<code><%- `<Snippet grey text='Текст вариант 2'/>` %></code><br>
	<code><%- `<Snippet bold>{\`Текст вариант 3\`}</Snippet>` %></code><br>

	<div id="Snippet" class="ej-component"></div>
	<hr>


	<h1 id="LinkTitle">Ссылка</h1>
	<hr>
	<code><%- `<Link href='#LinkTitle'>{\`Ссылка 1\`}</Link>` %></code><br>
	<code><%- `<Link text='Ссылка 2' onClick={() => alert("Link 2 click")}/>` %></code><br>

	<div id="Link" class="ej-component"></div>
	<hr>


	<h1>Кнопка</h1>
	<hr>
	<code><%- `<Button text='Button' onClick={() => alert('on click 0')} />` %></code>
	<div id='Button' class="ej-component"></div>
	<code><%-
		`<div className='btn-toolbar'>
  <Button text='Button' onClick={() => alert('on click 1')} />
  <Button text='Button' disabled onClick={() => alert('on click 2')} />
</div>`
		%></code>

	<div id='ButtonToolbar' class="ej-component"></div>
	<hr>

	<code><%- `<Button text='Button' rounded onClick={() => alert('on click 3')} />` %></code>
	<div id='ButtonRounded' class="ej-component"></div>
	<hr>


	<code><%- `<div>
  <Button inverted onClick={() => alert('on click PREV')}><Glyphicon glyph='chevron-left'/>{'Button'}</Button>
  <Button inverted onClick={() => alert('on click NEXT')}>{'Button'}<Glyphicon glyph='chevron-right'/></Button>
</div>` %></code>
	<div id='ButtonInverted' class="ej-component"></div>
	<hr>


	<h1>Checkbox</h1>
	<hr>
	<code><%- `<Checkbox checked />` %></code>
	<code><%- `<Checkbox disbled />` %></code>
	<code><%- `<Checkbox label={'Checkbox'} />` %></code>

	<div id='Checkbox' class="ej-component"></div>
	<hr>


	<h1>RadioButton</h1>
	<hr>
	<code><%- `<RadioButton checked />` %></code>
	<code><%- `<RadioButton disbled />` %></code>
	<code><%- `<RadioButton label={'RadioButton'} />` %></code>

	<div id='RadioButton' class="ej-component"></div>
	<hr>


	<h1>Input</h1>
	<hr>
	<code><%- `<Input placeholder='Стандартное поле' onChange={() => console.log("input changed")} />` %></code><br>
	<code><%- `<Input placeholder='Стандартное поле' value='Активное поле'/>` %></code><br>
	<code><%- `<Input placeholder='Стандартное поле' warning message='Предупреждение выделяется оранжевым цветом, занимает не более двух строк.'/>` %></code><br>
	<code><%- `<Input placeholder='Стандартное поле' error message='Сообщение об ошибке выделяется красным цветом, занимает не более двух строк.'/>` %></code><br>

	<div id='Input' class="ej-component"></div>
	<hr>


	<h1>TextArea</h1>
	<hr>
	<code><%- `<TextArea placeholder='Стандартное поле' onChange={() => console.log('textarea 1 changed')}/>` %></code><br>
	<code><%- `<TextArea value='Активное поле' onChange={() => console.log('textarea 2 changed')}/>` %></code><br>
	<code><%- `<TextArea required placeholder='Обязательное поле' onChange={() => console.log('textarea 3 changed')}/>` %></code><br>

	<div id='TextArea' class="ej-component"></div>
	<hr>


	<h1>List</h1>
	<hr>

	<code><%- `
<List>
	<ListItem text='Строка в списке'/>
	<ListItem selected text='Строка в списке'/>
	<ListItem text='Строка в списке'/>
	<ListItem><Glyphicon glyph='star'/>{'Строка в списке с иконкой'}</ListItem>
	<ListItem text='Строка в списке'/>
</List>` %></code>
	<div id='List1' class="ej-component"></div>

	<code><%- `<List>
	<ListItem text='Строка в списке'/>
	<ListItem selected text='Строка в списке'/>
	<ListItem text='Строка в списке'/>
	<ListItem text='Строка в списке'/>
	<ListItem text='Строка в списке'/>
	<ListItem><Glyphicon glyph='star'/>{'Строка в списке с иконкой'}</ListItem>
	<ListItem text='Строка в списке'/>
</List>` %></code>
	<div id='List2' class="ej-component"></div>

	<code><%- `<List/>` %></code>
	<div id='List3' class="ej-component"></div>

	<code><%- `<List items='{[]}/'>` %></code>
	<div id='List4' class="ej-component"></div>

	<code><%- `<List items='{['
	{text: 'String 11'},
	{text: 'String 12'},
	{text: 'String 13'},
	{text: 'String 14'},
	{text: 'String 15'},
]}/>` %></code>
	<div id='List5' class="ej-component"></div>

	<code><%- `<List items='{['
  {text: 'String 21'},
  {text: 'String 22'},
  {text: 'String 23'},
  {text: 'String 24'},
  {text: 'String 25'},
  {text: 'String 26'},
]} />` %></code>

	<div id='List6' class="ej-component"></div>
	<hr>

	<h1>Alert</h1>
	<hr>
	<code><%- `<Alert bsStyle='danger'>
  <strong>{"Error!"}</strong> Поле сообщения со <a href='javascript://'>ссылкой</a>
</Alert>` %></code>
	<hr>

	<div id='Alert1' class="ej-component"></div>
	<code><%- `<Alert bsStyle='warning'>
  <strong>{"Warning!"}</strong> Поле сообщения со <a href='javascript://'>ссылкой</a>
</Alert>` %></code>
	<hr>

	<div id='Alert2' class="ej-component"></div>
	<code><%- `<Alert bsStyle='success' onDismiss={() => alert('dismiss')}>
  <strong>{"Success!"}</strong> Поле сообщения со <a href='javascript://'>ссылкой</a>
</Alert>` %></code>
	<hr>

	<div id='Alert3' class="ej-component"></div>

	<hr>

	<h1>Check Panel</h1>
	<hr>
	<div id='CbPanel1' class="ej-component"></div>


</div>
</body>
</html>
